.footer {
  color: grey;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 80px;
}

.footerContent {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footerContentLeft,
.footerContentRight,
.footerContentCenter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footerContentLeft li,
.footerContentRight li,
.footerContentCenter li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footerContentRight h2,
.footerContentCenter h2 {
  color: white;
}

.footerSocialIcons img {
  width: 40px;
  margin-right: 15px;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px;
  background-color: grey;
  border: none;
}

/* Media query for medium screens (e.g., tablets) */
@media (max-width: 750px) {
  .footerContent {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .footerCopyright {
    text-align: center;
  }
}
